.centered{
    margin-top: 10px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}

.statesContainer{
    margin-top: 55px;
    margin-bottom: 0px;
    min-height: 590px;
    max-height: 590px;
    width: 200px;
    overflow: auto;
    list-style: none;
    padding-left: 6px;
    padding-right: 4px;
    border: 1px solid black;
    float: left;
}

.statesContainer li{
    height: 42px;
    border-bottom: 1px solid #00FF00;
    text-align: center;
    line-height: 40px;
}

path {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: black;
}

.x.axis .minor {
    //stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}